<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Shortened URL
    </title>
    <style>
        table {
            margin-left: 650px;
        }
    </style>
</head>
<a href="/" style="font-size: 25px; ">HOME</a>
<div class="container">
  <div class="card mt-5">
    <div class="card-header text-center py-3">
        <h1 align="center"><b>YOUR SHORTENED URL</b></h1>
        <h1><i class="fas fa-link px-2"></i></h1>
        <p align="center"><i>You can copy the Shorten Url Link below and share it with your friends.</i></p>
        <div class="line">
        <p align="center"><b>Short URL: <a href="{{ short_url }}">{{ short_url }}</a></b></p>
        </div>
    </div>
  </div>
</div>
<style type="text/css">
   .container{
      background-color:pink;
      width:100%;
      height:900px;
      font-weight: bold;
      padding: 5px;
       }
      .line{
      background-color:pink;
      width: 100%;
      height: 900px;
      font-weight: bold;
      padding: 5px; }
</style>
</html>


